body {
  font-size: 0.7em;
  background: #FFF;
  font-family: 'Lato';
  text-align: center;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
}

.panels {
  display: block;
  width: 100%;
  height: auto;
  overflow: auto;
  padding: 0;
  margin: 0;
}

.panels li {
  display: block;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  min-height: 350px;
  height: auto;
  overflow: auto;
  float: left;
  text-align: center;
  background: white;
}

.panels li h2 {
  font-size: 1.5em;
  padding: 20px 0;
}

#code_panel {
  width: 90%;
  height: 400px;
  overflow: auto;
  display: inline-block;
  font-size: 0.8em;
  background: #282828;
  color: white;
}
